{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <main class="main">

                            <div  class="sign__form" style="margin-left: 500px;size: 150px">
                            <h1 class="home__title">Transaction</h1>

                            <table border="3" style="size: 150px">
                                <thead>

                                <tr>
                                    <td class="home__text"></td>
                                    <th class="home__text">Montant</th>
                                    <th class="home__text">Date Transaction</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trans in t %}
                                <tr>
                                    <td class="home__text">{{ trans.id }}</td>
                                    <td class="home__text">{{ trans.montant }}</td>
                                    <td class="home__text">{{ trans.datetransaction|date }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>


        </div>
        <!-- end home -->
    </main>

</body>
{% endblock %}
