<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 order-4 order-md-1 order-lg-4 order-xl-1">
                <div class="footer__logo">
                    <img src="{{ asset('img/logoV1.png') }}" height="100" width="100" alt="">
                </div>
                <p class="footer__tagline">Digital marketplace for crypto collectibles <br>and non-fungible tokens (NFTs). <br>Buy, sell, and discover exclusive digital assets.</p>

                <div class="footer__lang">
                    <a class="footer__lang-btn" href="#" role="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('img/flags/uk.svg') }}" alt="">
                        <span>English</span>
                    </a>

                    <ul class="dropdown-menu footer__lang-dropdown" aria-labelledby="dropdownLang">
                        <li><a href="#"><img src="img/flags/spain.svg" alt=""><span>Spanish</span></a></li>
                        <li><a href="#"><img src="img/flags/russia.svg" alt=""><span>Russian</span></a></li>
                        <li><a href="#"><img src="img/flags/china.svg" alt=""><span>Chinese</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-1 order-md-2 order-lg-1 order-xl-2 offset-md-2 offset-lg-0">
                <h6 class="footer__title">NTF Marketplace</h6>
                <div class="footer__nav">
                    <a href="explore.html">Explore</a>
                    <a href="activity.html">Activity</a>
                    <a href="authors.html">Authors</a>
                    <a href="privacy.html">Privacy Policy</a>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-6 col-xl-4 order-3 order-lg-2 order-md-3 order-xl-3">
                <div class="row">
                    <div class="col-12">
                        <h6 class="footer__title">Explore</h6>
                    </div>

                    <div class="col-6">
                        <div class="footer__nav">
                            <a href="#">Art</a>
                            <a href="#">Photography</a>
                            <a href="#">Games</a>
                            <a href="#">Music</a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="footer__nav">
                            <a href="#">Domains</a>
                            <a href="#">DeFi</a>
                            <a href="#">Metaverses</a>
                            <a href="#">Memes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-2 order-lg-3 order-md-4 order-xl-4">
                <h6 class="footer__title">Community</h6>
                <div class="footer__nav">
                    <a href="token.html">Unitok</a>
                    <a href="blog.html">Our Blog</a>
                    <a href="faq.html">Help Center</a>
                    <a href="contacts.html">Contacts</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="footer__content">

                    <small class="footer__copyright">© Cryfty, 2021. Created by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">RunTime Terror</a>.</small>
                </div>
            </div>
        </div>
    </div>
</footer>