{% extends 'base.html.twig' %}

{% block title %}ADD Group{% endblock %}

{% block body %}


    <!-- main content -->
    <main class="main">
 <div class="row row--grid">
                <div class="col-12">
                    <div class="sign">
                        <div class="sign__content">
                            <div action="#" class="sign__form">
                                <div class="title ">
                                    <h2 style="color: white">Add new group</h2>
                                </div>
                                <div >
                                    {{ form_start(form) }}
                                    {{ form_row(form) }}
                                    <button class="sign__btn" type="submit">Create GROUP</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 </div>

    </main>



{% endblock %}
